.divmaster{
  display: block;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color:white;
  margin-bottom: 1%;
}

.divdescricaopri{
  display: block;
  width: 100%;
  background:white;
}

.divfotodiacono{
  display: inline-block;
  margin-top: 5px;
  margin-left: 0px;
  width: 15%;
}

.divdadosdiacono{
  padding: 5px; 
  display: inline-block;
  margin-top: 0px;
  margin-left: 0px;
  width: 83.75%;
  /*background-color:red;*/
  vertical-align: top;
}

.titulobibliografia_d{
  padding: 5px 0px 4px 0px;
  display: block;
  width: 100.8%;
  margin-top: 0px;
  text-align: left;
  line-height: .2;
  background-color: #8B0000;
  border-radius: 0px 0px 0px 0px;
}

.desricaotitulo1_d{
  color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-left: 0.5%;
  line-height: 1.2;
  font-size: 14pt;
}

.descricaobibliografia_d{
  display: block;
  margin-right: 1%;
  margin-top: 3%;
  line-height: 1.5;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.5pt;
}

/***********/
.divdadosfuncoes_d{
  padding: 5px 0px 4px 0px;
  height: 40px;
  display: inline-block;
  width: 100%;
  margin-top: 0.2%;
  text-align: left;
  line-height: .2;
  background-color: #8B0000;
  border-radius: 0px 0px 0px 0px;
}

.desricaotitulo2_d{
  display: block;
  padding: 7px 0px 4px 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-left: 0.5%;
  line-height: 1.2;
  font-size: 14.5pt;
}

.descricaofuncoes_d{
  display: block;
  padding: 5px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

