#faixa { 
    position: absolute; 
    margin-top:0px; 
    margin-left:385px;
    background-color:#363636;  
    margin: 0px;
    width: 98.6%; 
    height: 62px; 
    top: 3px; 
    border:1px solid #363636; 
    /*border-radius:4px;*/
    } 