.videos{
  padding: 2%;
  display: block;
  width: 100%;
  background-color:white;
  margin-left: 3%;
}

.video1{
  display: inline-block;
  width: 40%;
  padding: 2%;
}

.titulo1{
  display: block;
  width: 100%;
  height: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.video2{
  display: inline-block;
  width: 40%;
  padding: 2%;
}

.titulo2{
  display: block;
  width: 100%;
  height: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
